
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Projects</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses and Grades</title>
</head>
<body>

    <ul>
        <li>
            <h3>OOP1</h3>
            <ul>
                <li>Title: Object-Oriented Programming 1</li>
                <li>Grade: A</li>
            </ul>
        </li>

        <li>
            <h3>OOP2</h3>
            <ul>
                <li>Title: Object-Oriented Programming 2</li>
                <li>Grade: B+</li>
            </ul>
        </li>

        <li>
            <h3>Web Technologies</h3>
            <ul>
                <li>Title: Web Development and Technologies</li>
                <li>Grade: A+</li>
            </ul>
        </li>
    </ul>

</body>
</html>

